@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Razor Pages for Github Actions CI/CD</h1>
    <h3>Now deploying on Azure</h3>
    <h3>Succefully uploaded to Azure... now adding one more haeding to test</h3>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
